body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  color: orange;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}

a {
  text-decoration: none;
  color: orange;
}

header {
  justify-content: space-between;
  width: 100%;
  background-color: #000;
  margin: auto;
}

#site-logo {
  font-size: 1.3rem;
  padding: 0 2rem;
}
nav {
  display: flex;
}
nav ul {
  width: auto;
  margin: auto;
  justify-content: space-between;
}

nav li {
  padding: 0 0.7rem;
  font-size: 1rem;
}
.menu-btn {
  width: 2rem;
  height: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}
.menu-btn span {
  width: 100%;
  height: 4px;
  display: block;
  background-color: orange;
}
.flex {
  display: flex;
}



#side-drawer{
  padding:0;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 2em 1em;
  top: 0;
  left: 0;
  background-color: rgb(26, 25, 25);
}

#side-drawer ul{
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 5em auto;

}


#side-drawer .menu-btn span{
  background-color: white;
}

#side-drawer a{
  font-size: 2em;
  color: rgb(231, 226, 226);
}

#side-drawer header{
  background-color: rgb(25, 25, 25);
  display:flex;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
}

#side-drawer li{
padding: 1em 0;
  
}

main h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 1rem;
}
body {
  background-color: rgb(26, 25, 25);
}

main ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.item-content {
  background-color: pink;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  margin: 0.8rem 1.4rem;
  height: 100%;
}

.item-content img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.item-content h3 {
  color: rgb(36, 35, 35);
  font-size: 1.7rem;
  margin: 1rem 0.6rem;
}

.item-content a {
  display: inline-block;
  padding: 0.8rem;
  background: linear-gradient(45deg, orange, rgb(207, 0, 0));
  border-radius: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  /* margin-bottom: 0.8rem; */
  color: white;
}

.item-content a:hover {
  background: linear-gradient(45deg, rgb(209, 136, 1), rgb(182, 0, 0));
}

@media (max-width: 48em) {
  main ul {
    grid-template-columns: auto;
  }
  h1 {
    font-size: 1.5rem;
  }
  header nav {
    display: none;
  }

  header h1 {
    font-size: 1.5em;
  }

  .menu-btn {
    display: flex;
  }

  .item-content {
    width: 90%;
    height: 90%;
  }

  #side-drawer:target{
    padding: 0;
    display: block;
  }

}
@media (min-width: 64em) {
  main h1{
    font-size: 3rem;
    margin: 2rem auto;
  }

  .item-content {
    width: 90%;
    height: 80%;
  }
}
