body{
    background-color: rgb(31, 30, 30);
    text-align: center;
}

input{
    margin: 10rem 1rem 2rem auto;
    width: 50%;
    display:inline-block;;
    height: 2rem;
}

button{
    height: 2rem;
    padding: 0 1rem;
}