body {
  background-color: rgb(31, 30, 30);
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

h1{
  color: white;
  margin-top: 4rem;
}

form {
  margin: 3rem auto;
  width: 30rem;
  background-color: white;
  box-shadow: 2px 4px 8px black;
  border-radius: 6px;
  padding: 1rem;
  text-align: start;
}

ul{
  list-style-type: none;
  padding: 0;
  margin:0;
}

li{
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  margin: 1rem 0;
}



input, textarea, select {
  margin: 0.6rem 0 1rem 0;
  width: 100%;
  display: block;
  height: 2rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  color: rgb(68, 68, 68);
  border-radius: 6px;
}

select{
  text-align: center;
}

textarea{
  height: 4rem;
}

input:focus, textarea:focus, select:focus {
  background-color: rgb(219, 190, 253);
  color: rgb(42, 3, 87);
  font-weight: bold;
  border-color: rgb(42, 3, 87);
}

button {
    width: 100%;
    text-align: center;
  display: block;
  border-radius: 4px;
  height: 2.3rem;
  margin: 1.3rem 0 0 0;
  font: inherit;
  background-color: rgb(42, 3, 87);
  color: white;
  border: 1 px solid rgb(42, 3, 87);
  cursor: pointer;
}

button:hover {
  background-color: rgb(59, 12, 117);
}

.input-container h2 {
  margin: .5rem 0 .4rem 0;
}

.input-container label {
    padding:  0 .5rem ;
    margin: auto 0;
}

.input-container input {
  margin: 0;
  width: auto;
}

.input-flex {
  display: flex;
    justify-content: start;
}

